Repository romaingrx/romaingrx.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, astro-check

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        files: ^(?!.*pnpm-lock\.yaml$).* # Exclude pnpm-lock.yaml to avoid URL colon issues
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # ESLint and Prettier (using local versions)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro|md|yaml|yml)$

      - id: eslint
        name: ESLint
        entry: pnpm eslint --fix
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro)$

      # Astro check (type checking)
      - id: astro-check
        name: Astro Check
        entry: pnpm astro check
        language: system
        stages: [commit]
        files: \.(astro|ts|tsx)$
        pass_filenames: false

chore(deps): update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier

feat(pre-commit-config): update pre-commit stage names
  .pre-commit-config.yaml
Due: prettier

feat(zod): update Zod to version 4.1.12
  package.json
  pnpm-lock.yaml
  src/schemas/contact.ts
Due: prettier, eslint, astro-check

feat(astro): update Astro to version 5.14.8
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): update nanostores and persistent to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier

feat(basecoat): add Basecoat CSS and implement gallery and light UI components
  package.json
  pnpm-lock.yaml
  src/components/blog/components/blocks/center.astro
  src/components/blog/components/index.astro
  src/components/gallery/gallery.astro
  src/components/gallery/index.ts
  src/components/gallery/photo-stack-with-gallery.astro
  src/components/gallery/photostack.astro
  src/components/gallery/types.ts
  src/components/lightui/alert.astro
  src/components/lightui/button.astro
  src/components/lightui/dialog.astro
  src/components/lightui/index.ts
  src/components/lightui/loading.astro
  src/pages/design/index.astro
  src/pages/design/section.astro
  src/styles/globals.css
Due: prettier, eslint, astro-check

feat(salsa-note): add post for Corne keyboard setup with Miryoku layout
  content/note/20251026-corne-salsa/images/0.jpg
  content/note/20251026-corne-salsa/images/1.jpg
  content/note/20251026-corne-salsa/images/2.jpg
  content/note/20251026-corne-salsa/images/3.jpg
  content/note/20251026-corne-salsa/images/4.jpg
  content/note/20251026-corne-salsa/images/list.png
  content/note/20251026-corne-salsa/index.mdx
  src/components/blog/components/index.astro
  src/components/gallery/photostack.astro
  src/components/lightui/accordion.astro
  src/components/lightui/index.ts
Due: prettier, eslint, astro-check

chore: move sorting of blog posts and notes to collection retrieval
  src/components/blog/footer/related-posts.astro
  src/components/ui/DynamicTime.tsx
  src/components/ui/time.astro
  src/lib/collections.ts
  src/lib/format.ts
  src/pages/blog/index.astro
  src/pages/blog/tag/[tag].astro
  src/pages/index.astro
  src/pages/notes/index.astro
Due: prettier, eslint, astro-check

feat(sharing-badges): add sharing badges to note headers
  src/components/blog/sharing-badges.astro
  src/components/note/note-header.astro
Due: prettier, eslint, astro-check

feat(vae): add VAE blog post with protein sequence training pipeline
  astro.config.mjs
  content/blog/20251115-vae/code/.gitignore
  content/blog/20251115-vae/code/pyproject.toml
  content/blog/20251115-vae/code/uv.lock
  content/blog/20251115-vae/code/vae/__init__.py
  content/blog/20251115-vae/code/vae/__main__.py
  content/blog/20251115-vae/code/vae/data.py
  content/blog/20251115-vae/code/vae/model.py
  content/blog/20251115-vae/code/vae/schema.py
  content/blog/20251115-vae/code/vae/train.py
  content/blog/20251115-vae/code/vae/types.py
  content/blog/20251115-vae/components/InterpolationViewer.tsx
  content/blog/20251115-vae/components/LatentSpace.tsx
  content/blog/20251115-vae/components/SequenceDiff.tsx
  content/blog/20251115-vae/components/TrainingCurves.tsx
  content/blog/20251115-vae/components/index.ts
  content/blog/20251115-vae/index.mdx
  content/blog/20251115-vae/references.bib
  content/blog/20251115-vae/run.json
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: prettier, eslint, astro-check

refactor(vae): rewrite blog post and fix component styling
  content/blog/20251115-vae/index.mdx
  content/blog/20251115-vae/references.bib
  src/components/blog/components/columns.astro
  src/components/lightui/accordion.astro
  src/styles/typography.css
Due: prettier, eslint, astro-check

feat(vae): rename post to 20260301, add cover image, fix title sizing
  .mcp.json
  content/author/claude/index.md
  content/blog/20260301-vae/code/.gitignore
  content/blog/20260301-vae/code/pyproject.toml
  content/blog/20260301-vae/code/uv.lock
  content/blog/20260301-vae/code/vae/__init__.py
  content/blog/20260301-vae/code/vae/__main__.py
  content/blog/20260301-vae/code/vae/data.py
  content/blog/20260301-vae/code/vae/model.py
  content/blog/20260301-vae/code/vae/schema.py
  content/blog/20260301-vae/code/vae/train.py
  content/blog/20260301-vae/code/vae/types.py
  content/blog/20260301-vae/components/InterpolationViewer.tsx
  content/blog/20260301-vae/components/LatentSpace.tsx
  content/blog/20260301-vae/components/SequenceDiff.tsx
  content/blog/20260301-vae/components/TrainingCurves.tsx
  content/blog/20260301-vae/components/index.ts
  content/blog/20260301-vae/images/cover.excalidraw
  content/blog/20260301-vae/images/cover.png
  content/blog/20260301-vae/index.mdx
  content/blog/20260301-vae/references.bib
  content/blog/20260301-vae/run.json
  src/components/blog/post-header.astro
Due: prettier, eslint, astro-check

style(vae): use purple color palette for charts
  content/blog/20260301-vae/components/LatentSpace.tsx
  content/blog/20260301-vae/components/TrainingCurves.tsx
Due: prettier, eslint, astro-check

style(vae): animate charts on scroll and fix header dot alignment
  content/blog/20260301-vae/components/LatentSpace.tsx
  content/blog/20260301-vae/index.mdx
  src/components/blog/post-header.astro
Due: prettier, eslint, astro-check

chore(vae): update resource link to main branch and new repo name
  content/blog/20260301-vae/index.mdx
Due: none

chore(vae): publish blog post
  content/blog/20260301-vae/index.mdx
Due: none

feat: VAE blog post (#21)
  .mcp.json
  astro.config.mjs
  content/author/claude/index.md
  content/blog/20260301-vae/code/.gitignore
  content/blog/20260301-vae/code/pyproject.toml
  content/blog/20260301-vae/code/uv.lock
  content/blog/20260301-vae/code/vae/__init__.py
  content/blog/20260301-vae/code/vae/__main__.py
  content/blog/20260301-vae/code/vae/data.py
  content/blog/20260301-vae/code/vae/model.py
  content/blog/20260301-vae/code/vae/schema.py
  content/blog/20260301-vae/code/vae/train.py
  content/blog/20260301-vae/code/vae/types.py
  content/blog/20260301-vae/components/InterpolationViewer.tsx
  content/blog/20260301-vae/components/LatentSpace.tsx
  content/blog/20260301-vae/components/SequenceDiff.tsx
  content/blog/20260301-vae/components/TrainingCurves.tsx
  content/blog/20260301-vae/components/index.ts
  content/blog/20260301-vae/images/cover.excalidraw
  content/blog/20260301-vae/images/cover.png
  content/blog/20260301-vae/index.mdx
  content/blog/20260301-vae/references.bib
  content/blog/20260301-vae/run.json
  package.json
  pnpm-lock.yaml
  src/components/blog/components/columns.astro
  src/components/blog/post-header.astro
  src/components/lightui/accordion.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/typography.css
Due: prettier, eslint, astro-check

chore: remove .cursor configuration folder
  .cursor/rules/general.mdc
Due: none

chore: remove .cursor configuration folder (#22)
  .cursor/rules/general.mdc
Due: none

feat(ddpm): add DDPM training pipeline for Pokemon sprite generation
  content/blog/20260302-ddpm/code/.gitignore
  content/blog/20260302-ddpm/code/ddpm/__init__.py
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/data.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/sample.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/schema.py
  content/blog/20260302-ddpm/code/ddpm/train.py
  content/blog/20260302-ddpm/code/ddpm/types.py
  content/blog/20260302-ddpm/code/pyproject.toml
  content/blog/20260302-ddpm/code/uv.lock
Due: none

fix(ddpm): address correctness, architecture, and perf issues
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/data.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/sample.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/train.py
  content/blog/20260302-ddpm/code/ddpm/types.py
Due: none

feat(ddpm): add structured logging with verbose flag
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/config.py
Due: none

feat(ddpm): add dropout and cosine noise schedule
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/train.py
Due: none

refactor(ddpm): fix typing, clarify bfloat16, and add scan-based epoch
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/train.py
Due: none

refactor(ddpm): apply medium-priority review improvements
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/sample.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/train.py
  content/blog/20260302-ddpm/code/pyproject.toml
  content/blog/20260302-ddpm/code/tests/test_schedule.py
Due: none

refactor(ddpm): use einops in q_sample and move logging to cli
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
Due: none

refactor(ddpm): clean training pipeline and add runtime type checking
  content/blog/20260302-ddpm/code/README.md
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/sample.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/train.py
  content/blog/20260302-ddpm/code/pyproject.toml
  content/blog/20260302-ddpm/code/tests/conftest.py
  content/blog/20260302-ddpm/code/tests/test_jaxtyping.py
  content/blog/20260302-ddpm/code/tests/test_train.py
  content/blog/20260302-ddpm/code/uv.lock
Due: prettier

fix(ddpm): use specific TypeCheckError assertion in jaxtyping test
  content/blog/20260302-ddpm/code/tests/test_jaxtyping.py
Due: none

feat(ddpm): switch to SDF font glyphs with class conditioning
  content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/code/ddpm/fonts.py
  content/blog/20260302-ddpm/code/ddpm/model.py
  content/blog/20260302-ddpm/code/ddpm/sample.py
  content/blog/20260302-ddpm/code/ddpm/schema.py
  content/blog/20260302-ddpm/code/ddpm/sdf.py
  content/blog/20260302-ddpm/code/ddpm/train.py
  content/blog/20260302-ddpm/code/ddpm/types.py
  content/blog/20260302-ddpm/code/pyproject.toml
  content/blog/20260302-ddpm/code/uv.lock
Due: none

feat(ddpm): add sample CLI command and simplify NoiseSchedule
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
Due: none

feat(ddpm): add interactive blog post with charts and visualizations
  content/blog/20260302-ddpm/code/ddpm/config.py
  content/blog/20260302-ddpm/components/DenoisingProcess.tsx
  content/blog/20260302-ddpm/components/EpochProgress.tsx
  content/blog/20260302-ddpm/components/ForwardProcess.tsx
  content/blog/20260302-ddpm/components/NoiseScheduleChart.tsx
  content/blog/20260302-ddpm/components/SampleGallery.tsx
  content/blog/20260302-ddpm/components/TrainingCurves.tsx
  content/blog/20260302-ddpm/components/index.ts
  content/blog/20260302-ddpm/index.mdx
  content/blog/20260302-ddpm/references.bib
  content/blog/20260302-ddpm/run.json
  src/components/blog/components/image-grid.tsx
  src/components/blog/components/step-slider.tsx
  src/styles/globals.css
Due: prettier, eslint, astro-check

feat(ddpm): add pseudocode, hyperlinks, and polish spacing
  content/blog/20260302-ddpm/components/DenoisingProcess.tsx
  content/blog/20260302-ddpm/components/EpochProgress.tsx
  content/blog/20260302-ddpm/components/ForwardProcess.tsx
  content/blog/20260302-ddpm/components/NoiseScheduleChart.tsx
  content/blog/20260302-ddpm/components/SampleGallery.tsx
  content/blog/20260302-ddpm/components/TrainingCurves.tsx
  content/blog/20260302-ddpm/index.mdx
  src/components/blog/components/columns.astro
Due: prettier, eslint, astro-check

feat(blog): add Excalidraw diagram support with build-time SVG rendering
  astro.config.mjs
  content/blog/20260302-ddpm/index.mdx
  content/blog/20260302-ddpm/unet-architecture.excalidraw
  package.json
  pnpm-lock.yaml
  src/components/blog/components/excalidraw.astro
  src/env.d.ts
  src/lib/excalidraw.ts
Due: prettier, eslint, astro-check

refactor(excalidraw): replace Playwright with happy-dom and unify image display
  content/blog/20260302-ddpm/index.mdx
  package.json
  pnpm-lock.yaml
  src/components/blog/components/excalidraw.astro
  src/components/blog/components/images/image-viewer.astro
  src/components/blog/components/index.astro
  src/lib/excalidraw.ts
Due: prettier, eslint, astro-check

feat(ddpm): publish blog post
  content/blog/20260302-ddpm/index.mdx
Due: none

feat(ddpm): add BlogLink hover cards, SDF section, and polish blog post
  content/blog/20260302-ddpm/components/EpochProgress.tsx
  content/blog/20260302-ddpm/components/ForwardProcess.tsx
  content/blog/20260302-ddpm/components/SDFPipeline.tsx
  content/blog/20260302-ddpm/components/index.ts
  content/blog/20260302-ddpm/index.mdx
  content/blog/20260302-ddpm/references.bib
  src/components/blog/components/blog-link-card.tsx
  src/components/blog/components/blog-link.astro
  src/components/blog/components/columns.astro
  src/components/blog/components/index.astro
  src/components/blog/components/number-card.astro
  src/components/blog/footer/index.astro
  src/lib/utils.ts
Due: prettier, eslint, astro-check

feat(blog): add YouTube embed component and Welch Labs video
  content/blog/20260302-ddpm/index.mdx
  src/components/blog/components/index.astro
  src/components/blog/components/youtube.astro
Due: prettier, eslint, astro-check

feat(ddpm): add derivation appendices and fix citation style
  content/blog/20260302-ddpm/index.mdx
Due: none
