Repository romaingrx/romaingrx.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, astro-check

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        files: ^(?!.*pnpm-lock\.yaml$).* # Exclude pnpm-lock.yaml to avoid URL colon issues
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # ESLint and Prettier (using local versions)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro|md|yaml|yml)$

      - id: eslint
        name: ESLint
        entry: pnpm eslint --fix
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro)$

      # Astro check (type checking)
      - id: astro-check
        name: Astro Check
        entry: pnpm astro check
        language: system
        stages: [commit]
        files: \.(astro|ts|tsx)$
        pass_filenames: false

feat(ddpm): add cover image, reorganize assets, and polish
  content/blog/20260302-ddpm/generate_cover.py
  content/blog/20260302-ddpm/images/cover.png
  content/blog/20260302-ddpm/images/unet.excalidraw
  content/blog/20260302-ddpm/index.mdx
Due: none

refactor(ddpm): remove Pokemon remnants and fix type errors
  content/blog/20260302-ddpm/code/README.md
  content/blog/20260302-ddpm/code/ddpm/cli.py
  content/blog/20260302-ddpm/code/ddpm/collect.py
  content/blog/20260302-ddpm/code/ddpm/data.py
  content/blog/20260302-ddpm/code/ddpm/fonts.py
  content/blog/20260302-ddpm/code/ddpm/schedule.py
  content/blog/20260302-ddpm/code/ddpm/sdf.py
  content/blog/20260302-ddpm/code/ddpm/types.py
  content/blog/20260302-ddpm/code/pyproject.toml
  content/blog/20260302-ddpm/code/tests/test_schedule.py
  content/blog/20260302-ddpm/code/tests/test_train.py
  content/blog/20260302-ddpm/code/uv.lock
  content/blog/20260302-ddpm/index.mdx
Due: prettier

chore: fix all type check warnings and hints
  src/components/gallery/gallery.astro
  src/components/gallery/photo-stack-with-gallery.astro
  src/components/gallery/photostack.astro
  src/components/lightui/accordion.astro
  src/pages/design/index.astro
Due: prettier, eslint, astro-check

feat: migrate to Astro 6 and clean up content collections
  astro.config.mjs
  pnpm-lock.yaml
  src/components/about/ProfileSection.astro
  src/components/blog/author/hover-card.tsx
  src/components/blog/footer/author-cards.astro
  src/configs/resources.ts
  src/content.config.ts
  src/lib/collections.ts
  wrangler.jsonc
Due: prettier, eslint, astro-check

feat(search): add Cmd+K search with pagefind indexing
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/search/search.tsx
  worker-configuration.d.ts
Due: prettier, eslint, astro-check

feat: improve view transitions and prefetch strategy
  astro.config.mjs
  src/components/Header.astro
  src/layouts/BaseLayout.astro
Due: prettier, eslint, astro-check

feat(search): use sub_results for section-level deep linking
  src/components/search/search.tsx
Due: prettier, eslint, astro-check

feat: add viewport prefetch and persist search across navigations
  src/layouts/BaseLayout.astro
Due: prettier, eslint, astro-check

fix: set Node.js 22 for Cloudflare Workers Builds
  .node-version
Due: none

feat(resources): support relative paths for in-repo resources
  src/components/blog/footer/index.astro
  src/components/blog/post-header.astro
  src/components/blog/resources/index.astro
  src/components/note/footer/index.astro
  src/components/note/note-header.astro
  src/configs/resources.ts
  src/content/blog/20260301-vae/index.mdx
Due: prettier, eslint, astro-check

fix: resolve all build warnings and lint errors
  eslint.config.js
  src/components/blog/toc/index.astro
  src/components/gallery/photo-stack-with-gallery.astro
  src/components/lightui/dialog.astro
  src/components/search/search.tsx
  src/content/blog/20260301-vae/components/LatentSpace.tsx
Due: prettier, eslint, astro-check

fix: integrate DDPM blog post into Astro 6 structure
  .gitattributes
  package.json
  pnpm-lock.yaml
  src/components/blog/components/number-card.astro
  src/content/blog/20260302-ddpm/code/.gitignore
  src/content/blog/20260302-ddpm/code/README.md
  src/content/blog/20260302-ddpm/code/ddpm/__init__.py
  src/content/blog/20260302-ddpm/code/ddpm/checkpoint.py
  src/content/blog/20260302-ddpm/code/ddpm/cli.py
  src/content/blog/20260302-ddpm/code/ddpm/collect.py
  src/content/blog/20260302-ddpm/code/ddpm/config.py
  src/content/blog/20260302-ddpm/code/ddpm/fonts.py
  src/content/blog/20260302-ddpm/code/ddpm/model.py
  src/content/blog/20260302-ddpm/code/ddpm/sample.py
  src/content/blog/20260302-ddpm/code/ddpm/schedule.py
  src/content/blog/20260302-ddpm/code/ddpm/schema.py
  src/content/blog/20260302-ddpm/code/ddpm/sdf.py
  src/content/blog/20260302-ddpm/code/ddpm/train.py
  src/content/blog/20260302-ddpm/code/ddpm/types.py
  src/content/blog/20260302-ddpm/code/pyproject.toml
  src/content/blog/20260302-ddpm/code/tests/conftest.py
  src/content/blog/20260302-ddpm/code/tests/test_jaxtyping.py
  src/content/blog/20260302-ddpm/code/tests/test_schedule.py
  src/content/blog/20260302-ddpm/code/tests/test_train.py
  src/content/blog/20260302-ddpm/code/uv.lock
  src/content/blog/20260302-ddpm/components/DenoisingProcess.tsx
  src/content/blog/20260302-ddpm/components/EpochProgress.tsx
  src/content/blog/20260302-ddpm/components/ForwardProcess.tsx
  src/content/blog/20260302-ddpm/components/NoiseScheduleChart.tsx
  src/content/blog/20260302-ddpm/components/SDFPipeline.tsx
  src/content/blog/20260302-ddpm/components/SampleGallery.tsx
  src/content/blog/20260302-ddpm/components/TrainingCurves.tsx
  src/content/blog/20260302-ddpm/components/index.ts
  src/content/blog/20260302-ddpm/generate_cover.py
  src/content/blog/20260302-ddpm/images/cover.png
  src/content/blog/20260302-ddpm/images/unet.excalidraw
  src/content/blog/20260302-ddpm/index.mdx
  src/content/blog/20260302-ddpm/references.bib
  src/content/blog/20260302-ddpm/run.json
  src/lib/excalidraw.ts
Due: prettier, eslint, astro-check

chore: rename DDPM blog folder to match published date
  src/content/blog/20260318-ddpm/code/.gitignore
  src/content/blog/20260318-ddpm/code/README.md
  src/content/blog/20260318-ddpm/code/ddpm/__init__.py
  src/content/blog/20260318-ddpm/code/ddpm/checkpoint.py
  src/content/blog/20260318-ddpm/code/ddpm/cli.py
  src/content/blog/20260318-ddpm/code/ddpm/collect.py
  src/content/blog/20260318-ddpm/code/ddpm/config.py
  src/content/blog/20260318-ddpm/code/ddpm/fonts.py
  src/content/blog/20260318-ddpm/code/ddpm/model.py
  src/content/blog/20260318-ddpm/code/ddpm/sample.py
  src/content/blog/20260318-ddpm/code/ddpm/schedule.py
  src/content/blog/20260318-ddpm/code/ddpm/schema.py
  src/content/blog/20260318-ddpm/code/ddpm/sdf.py
  src/content/blog/20260318-ddpm/code/ddpm/train.py
  src/content/blog/20260318-ddpm/code/ddpm/types.py
  src/content/blog/20260318-ddpm/code/pyproject.toml
  src/content/blog/20260318-ddpm/code/tests/conftest.py
  src/content/blog/20260318-ddpm/code/tests/test_jaxtyping.py
  src/content/blog/20260318-ddpm/code/tests/test_schedule.py
  src/content/blog/20260318-ddpm/code/tests/test_train.py
  src/content/blog/20260318-ddpm/code/uv.lock
  src/content/blog/20260318-ddpm/components/DenoisingProcess.tsx
  src/content/blog/20260318-ddpm/components/EpochProgress.tsx
  src/content/blog/20260318-ddpm/components/ForwardProcess.tsx
  src/content/blog/20260318-ddpm/components/NoiseScheduleChart.tsx
  src/content/blog/20260318-ddpm/components/SDFPipeline.tsx
  src/content/blog/20260318-ddpm/components/SampleGallery.tsx
  src/content/blog/20260318-ddpm/components/TrainingCurves.tsx
  src/content/blog/20260318-ddpm/components/index.ts
  src/content/blog/20260318-ddpm/generate_cover.py
  src/content/blog/20260318-ddpm/images/cover.png
  src/content/blog/20260318-ddpm/images/unet.excalidraw
  src/content/blog/20260318-ddpm/index.mdx
  src/content/blog/20260318-ddpm/references.bib
  src/content/blog/20260318-ddpm/run.json
Due: prettier, eslint, astro-check

fix: bind existing KV namespace to prevent deploy failure
  wrangler.jsonc
Due: none

feat(blog): add x_thread_id to DDPM post
  src/content/blog/20260318-ddpm/index.mdx
Due: none

feat: add /thread command and Typefully skill for blog-to-thread publishing
  .claude/commands/thread.md
  .claude/skills/typefully/CHANGELOG.md
  .claude/skills/typefully/SKILL.md
  .claude/skills/typefully/scripts/typefully.cjs
Due: prettier

fix(blog): improve mobile responsiveness for math equations
  src/components/blog/post-header.astro
  src/layouts/BaseLayout.astro
  src/styles/globals.css
  src/styles/typography.css
Due: prettier, eslint, astro-check

feat(blog): add discuss-on component and Bluesky thread support
  src/components/blog/discuss-on.astro
  src/components/blog/footer/index.astro
  src/components/blog/sharing-badges.astro
  src/components/note/footer/index.astro
  src/content.config.ts
  src/content/blog/20260318-ddpm/index.mdx
  wrangler.jsonc
Due: prettier, eslint, astro-check

feat: /thread command for blog-to-social publishing (#25)
  .claude/commands/thread.md
  .claude/skills/typefully/CHANGELOG.md
  .claude/skills/typefully/SKILL.md
  .claude/skills/typefully/scripts/typefully.cjs
  src/components/blog/discuss-on.astro
  src/components/blog/footer/index.astro
  src/components/blog/sharing-badges.astro
  src/components/note/footer/index.astro
  src/content.config.ts
  src/content/blog/20260318-ddpm/index.mdx
  wrangler.jsonc
Due: prettier, eslint, astro-check

fix(blog): prevent horizontal overflow on mobile screens
  src/components/tooltip/tooltip-variants.ts
  src/content/blog/20260301-vae/index.mdx
  src/layouts/BlogLayout.astro
  src/styles/globals.css
  src/styles/katex.css
  src/styles/typography.css
Due: prettier, eslint, astro-check

fix(blog): improve chart responsiveness on mobile
  src/components/charts/card.tsx
  src/content/blog/20260301-vae/components/LatentSpace.tsx
  src/content/blog/20260318-ddpm/components/NoiseScheduleChart.tsx
Due: prettier, eslint, astro-check

refactor(blog): simplify blog listing page and card component
  src/components/blog/blog-list-layout.astro
  src/components/blog/card/index.astro
  src/components/blog/footer/related-posts.astro
  src/components/blog/post-header.astro
  src/components/home/ContentGrid.astro
  src/pages/blog/category/[category].astro
  src/pages/blog/index.astro
  src/pages/blog/tag/[tag].astro
Due: prettier, eslint, astro-check

refactor(notes): simplify NoteCard component
  src/components/note/card/index.astro
  src/components/note/footer/related-notes.astro
Due: prettier, eslint, astro-check

refactor(home): simplify homepage and centralize site config
  src/components/home/HeroSection.astro
  src/components/home/RecentNotes.astro
  src/components/home/RecentPosts.astro
  src/configs/site.ts
  src/pages/index.astro
Due: prettier, eslint, astro-check

fix: improve mobile responsiveness and simplify blog/notes (#27)
  src/components/blog/blog-list-layout.astro
  src/components/blog/card/index.astro
  src/components/blog/footer/related-posts.astro
  src/components/blog/post-header.astro
  src/components/charts/card.tsx
  src/components/home/ContentGrid.astro
  src/components/home/HeroSection.astro
  src/components/home/RecentNotes.astro
  src/components/home/RecentPosts.astro
  src/components/note/card/index.astro
  src/components/note/footer/related-notes.astro
  src/components/tooltip/tooltip-variants.ts
  src/configs/site.ts
  src/content/blog/20260301-vae/components/LatentSpace.tsx
  src/content/blog/20260301-vae/index.mdx
  src/content/blog/20260318-ddpm/components/NoiseScheduleChart.tsx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/blog/category/[category].astro
  src/pages/blog/index.astro
  src/pages/blog/tag/[tag].astro
  src/pages/index.astro
  src/styles/globals.css
  src/styles/katex.css
Due: prettier, eslint, astro-check

fix(ci): add packageManager field and pin action SHAs
  .github/workflows/ci.yml
  package.json
Due: prettier

fix: refactor note hover-card to avoid .astro import in React
  .gitignore
  src/components/note/hover-card-inner.tsx
  src/components/note/hover-card.astro
  src/components/note/hover-card.tsx
  src/pages/notes/index.astro
  src/pages/notes/tag/[tag].astro
  worker-configuration.d.ts
Due: prettier, eslint, astro-check

chore: improve oxlint config and add wrangler preview URLs
  .oxlintrc.json
  .vscode/settings.json
  wrangler.jsonc
Due: none

style: format typefully skill script with oxfmt
  .claude/skills/typefully/scripts/typefully.cjs
Due: none

fix: resolve all oxlint warnings across codebase
  src/components/about/Timeline.astro
  src/components/blog/card/background.tsx
  src/components/blog/components/examples.tsx
  src/components/blog/components/image-grid.tsx
  src/components/blog/footer/index.astro
  src/components/blog/post-header.astro
  src/components/note/footer/index.astro
  src/components/note/note-header.astro
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/field.tsx
  src/components/ui/form.tsx
  src/components/ui/toggle-group.tsx
  src/content/blog/20260301-vae/components/InterpolationViewer.tsx
  src/content/blog/20260301-vae/components/LatentSpace.tsx
  src/content/blog/20260301-vae/components/SequenceDiff.tsx
  src/content/blog/20260318-ddpm/components/EpochProgress.tsx
  src/content/blog/20260318-ddpm/components/SDFPipeline.tsx
  src/lib/collections.ts
  src/utils/colors.ts
Due: prettier, eslint, astro-check

fix: restore sticky TOC by removing redundant overflow-x-hidden from body
  src/layouts/BaseLayout.astro
Due: prettier, eslint, astro-check

fix: restore sticky TOC in blog layout (#28)
  src/layouts/BaseLayout.astro
Due: prettier, eslint, astro-check

feat: add bundle size reporting script and CI workflow
  .github/workflows/bundle-size.yml
  package.json
  scripts/bundle-report.sh
Due: prettier

feat: add bundle size reporting (#29)
  .github/workflows/bundle-size.yml
  package.json
  scripts/bundle-report.sh
Due: prettier
