Repository romaingrx/romaingrx.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, astro-check

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        files: ^(?!.*pnpm-lock\.yaml$).* # Exclude pnpm-lock.yaml to avoid URL colon issues
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # ESLint and Prettier (using local versions)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro|md|yaml|yml)$

      - id: eslint
        name: ESLint
        entry: pnpm eslint --fix
        language: system
        stages: [commit]
        pass_filenames: true
        files: \.(js|jsx|ts|tsx|astro)$

      # Astro check (type checking)
      - id: astro-check
        name: Astro Check
        entry: pnpm astro check
        language: system
        stages: [commit]
        files: \.(astro|ts|tsx)$
        pass_filenames: false

refactor: migrate to oklch colors, basecoat lightui components, CSS cleanup
  src/components/ThemeToggle.astro
  src/components/blog/category-badge.astro
  src/components/blog/discuss-on.astro
  src/components/blog/tag-badge.astro
  src/components/home/ContactForm.astro
  src/components/lightui/badge.astro
  src/components/lightui/button.astro
  src/components/lightui/index.ts
  src/components/lightui/input.astro
  src/components/lightui/label.astro
  src/components/lightui/textarea.astro
  src/styles/globals.css
  src/styles/typography.css
Due: prettier, eslint, astro-check

refactor: replace DynamicTime React island with build-time Astro component
  package.json
  pnpm-lock.yaml
  src/components/ui/react/DynamicTime.tsx
  src/components/ui/time.astro
  src/lib/format.ts
Due: prettier, eslint, astro-check

refactor: replace DynamicTime with build-time Astro component (#32)
  package.json
  pnpm-lock.yaml
  src/components/ui/react/DynamicTime.tsx
  src/components/ui/time.astro
  src/lib/format.ts
Due: prettier, eslint, astro-check

refactor: replace React MobileNav with native dialog Astro component
  src/components/Header.astro
  src/components/nav/header/mobile.astro
Due: prettier, eslint, astro-check

refactor: simplify MobileNav to pure Tailwind dropdown
  src/components/nav/header/mobile.astro
Due: prettier, eslint, astro-check

refactor: replace React MobileNav with native dialog (#33)
  src/components/Header.astro
  src/components/nav/header/mobile.astro
Due: prettier, eslint, astro-check

refactor: drop Astro view transitions, simplify mobile nav
  .pre-commit-config.yaml
  src/components/Header.astro
  src/components/ThemeToggle.astro
  src/components/blog/components/images/image-viewer.astro
  src/components/comments.astro
  src/components/nav/header/mobile.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
Due: prettier, eslint, astro-check

refactor: replace React search with vanilla JS + basecoat command dialog
  src/components/Header.astro
  src/components/search/search.astro
Due: prettier, eslint, astro-check

refactor: replace React search with vanilla JS + basecoat command dialog
  src/components/search/search.astro
  src/styles/command.css
Due: prettier, eslint, astro-check

chore: delete 14 dead React components, switch charts to client:visible
  package.json
  pnpm-lock.yaml
  src/components/blog/components/callout.astro
  src/components/blog/resources/index.astro
  src/components/nav/header/mobile.tsx
  src/components/search/search.tsx
  src/components/ui/react/accordion.tsx
  src/components/ui/react/avatar.tsx
  src/components/ui/react/command.tsx
  src/components/ui/react/input-group.tsx
  src/components/ui/react/input.tsx
  src/components/ui/react/kbd.tsx
  src/components/ui/react/label.tsx
  src/components/ui/react/separator.tsx
  src/components/ui/react/sheet.tsx
  src/components/ui/react/switch.tsx
  src/components/ui/react/tabs.tsx
  src/components/ui/react/textarea.tsx
  src/content/blog/20240927-mistral-nemo-red-teamer/index.mdx
  src/content/blog/20250929-improvement-plan/components/categories.astro
Due: prettier, eslint, astro-check

refactor: drop view transitions, simplify mobile nav (#34)
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/ThemeToggle.astro
  src/components/blog/components/callout.astro
  src/components/blog/components/images/image-viewer.astro
  src/components/blog/resources/index.astro
  src/components/comments.astro
  src/components/nav/header/mobile.astro
  src/components/nav/header/mobile.tsx
  src/components/search/search.astro
  src/components/search/search.tsx
  src/components/ui/react/accordion.tsx
  src/components/ui/react/avatar.tsx
  src/components/ui/react/command.tsx
  src/components/ui/react/input-group.tsx
  src/components/ui/react/input.tsx
  src/components/ui/react/kbd.tsx
  src/components/ui/react/label.tsx
  src/components/ui/react/separator.tsx
  src/components/ui/react/sheet.tsx
  src/components/ui/react/switch.tsx
  src/components/ui/react/tabs.tsx
  src/components/ui/react/textarea.tsx
  src/content/blog/20240927-mistral-nemo-red-teamer/index.mdx
  src/content/blog/20250929-improvement-plan/components/categories.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/styles/command.css
Due: prettier, eslint, astro-check

feat: add _redirects for /dotfiles install script
  public/_redirects
Due: none

feat: add _redirects for /dotfiles install script (#35)
  public/_redirects
Due: none

chore(deps): bulk dependency catch-up and pnpm 11 upgrade
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/backgrounds/smooth-gradient.tsx
  src/components/ui/react/carousel.tsx
  src/content/blog/20260318-ddpm/components/EpochProgress.tsx
Due: prettier, eslint, astro-check

chore(deps): bulk dependency catch-up and pnpm 11 upgrade (#36)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/backgrounds/smooth-gradient.tsx
  src/components/ui/react/carousel.tsx
  src/content/blog/20260318-ddpm/components/EpochProgress.tsx
Due: prettier, eslint, astro-check

chore(deps): add renovate configuration
  renovate.json
Due: none

chore(deps): add renovate configuration (#38)
  renovate.json
Due: none

chore: drop issue tracker reference from renovate config
  renovate.json
Due: none

chore: drop issue tracker reference from renovate config (#39)
  renovate.json
Due: none

chore(deps): ignore blog post sample code in renovate
  renovate.json
Due: none

chore(deps): ignore blog post sample code in renovate (#49)
  renovate.json
Due: none

fix(notes): prevent hover card cards from collapsing on hover
  src/components/blog/author/hover-card.tsx
  src/components/note/hover-card-inner.tsx
  src/components/note/hover-card.astro
  src/pages/notes/index.astro
Due: prettier, eslint, astro-check

fix(notes): prevent hover card cards from collapsing on hover (#53)
  src/components/blog/author/hover-card.tsx
  src/components/note/hover-card-inner.tsx
  src/components/note/hover-card.astro
  src/pages/notes/index.astro
Due: prettier, eslint, astro-check

chore(foundation): establish reproducible checks and fixtures
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .gitignore
  .node-version
  CONTRIBUTING.md
  docs/foundation-roadmap.md
  docs/route-manifest.json
  docs/route-manifest.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/check-routes.mjs
  src/components/blog/components/index.ts
  src/components/design/section.astro
  src/fixtures/design.astro
  src/pages/blog/[...slug].astro
  src/pages/design/[...path].astro
  src/pages/design/index.astro
  src/pages/notes/[...slug].astro
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

refactor(build): derive route checks from Astro output
  .gitignore
  astro.config.mjs
  docs/route-manifest.json
  docs/route-manifest.md
  scripts/check-routes.mjs
  src/integrations/route-report.mjs
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

ci: run checks when stacked drafts become ready
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier

feat(ui): define design tokens and theme behavior
  src/components/Shell.astro
  src/components/ThemeToggle.astro
  src/components/comments.astro
  src/content/blog/20250929-improvement-plan/components/categories.astro
  src/env.d.ts
  src/fixtures/design.astro
  src/layouts/BaseLayout.astro
  src/styles/globals.css
  src/styles/typography.css
  tests/browser/design-system.spec.ts
Due: prettier, eslint, astro-check

refactor(ui): share control variants across renderers
  src/components/blog/components/images/image-viewer.astro
  src/components/blog/components/number-card.astro
  src/components/blog/discuss-on.astro
  src/components/nav/header/mobile.astro
  src/components/search/search.astro
  src/components/ui/alert.astro
  src/components/ui/badge.astro
  src/components/ui/dialog.astro
  src/components/ui/index.ts
  src/components/ui/input.astro
  src/components/ui/label.astro
  src/components/ui/link.astro
  src/components/ui/loading.astro
  src/components/ui/react/alert.tsx
  src/components/ui/react/badge.tsx
  src/components/ui/react/button.tsx
  src/components/ui/react/carousel.tsx
  src/components/ui/react/link.tsx
  src/components/ui/textarea.astro
  src/components/ui/variants.ts
  src/fixtures/design.astro
  src/styles/globals.css
  tests/browser/controls.spec.ts
  tests/browser/design-system.spec.ts
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

fix(content): generate typed routes and preserve permalinks
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
  src/components/Header.astro
  src/components/blog/blog-list-layout.astro
  src/components/blog/category-badge.astro
  src/components/blog/components/blog-link.astro
  src/components/blog/sharing-badges.astro
  src/components/blog/tag-badge.astro
  src/components/note/footer/index.astro
  src/configs/routes.ts
  src/content.config.ts
  src/content/blog/20240927-mistral-nemo-red-teamer/index.mdx
  src/content/blog/20241016-llm-as-a-jailbreak-judge/index.mdx
  src/content/blog/20250929-improvement-plan/index.mdx
  src/content/blog/20260301-vae/index.mdx
  src/content/blog/20260318-ddpm/index.mdx
  src/content/note/20250304-ml-nix-flake.mdx
  src/content/note/20251012-cuda-mental-model.mdx
  src/content/note/20251026-corne-salsa/index.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NoteLayout.astro
  src/lib/collections.ts
  src/lib/utils.ts
  src/pages/404.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/category/[category].astro
  src/pages/blog/posts/red-teamer-mistral-nemo.ts
  src/pages/blog/tag/[tag].astro
  src/pages/note/[...slug].ts
  src/pages/notes/[...slug].astro
  src/pages/notes/tag/[tag].astro
  src/pages/og/blog/[id].png.ts
  src/pages/og/note/[id].png.ts
  src/pages/rss.xml.js
  tests/browser/site.spec.ts
  tests/route-types.ts
Due: prettier, eslint, astro-check

fix(contact): replace the disabled contact flow
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/home/ContactCTA.astro
  src/components/home/ContactForm.astro
  src/components/home/HeroSection.astro
  src/pages/api/contact.ts
  src/pages/contact.astro
  src/schemas/contact.ts
  src/stores/contact.ts
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

test(contact): scope the mobile menu to site navigation
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

fix(navigation): unify keyboard and dialog behavior
  CONTRIBUTING.md
  src/components/Header.astro
  src/components/blog/components/images/image-viewer.astro
  src/components/gallery/photo-stack-with-gallery.astro
  src/components/nav/header/mobile.astro
  src/components/search/search.astro
  src/components/ui/dialog.astro
  src/components/ui/react/dialog.tsx
  src/fixtures/design.astro
  src/layouts/BaseLayout.astro
  src/lib/dialog.ts
  src/styles/globals.css
  tests/browser/controls.spec.ts
  tests/browser/site.spec.ts
Due: prettier, eslint, astro-check

test(navigation): check public routes on the production build
  CONTRIBUTING.md
  playwright.config.ts
  tests/browser/site.spec.ts
  tests/fixtures/controls.spec.ts
  tests/fixtures/design-system.spec.ts
  tests/fixtures/site.spec.ts
Due: prettier, eslint, astro-check

fix(navigation): keep server image code out of hydrated hover cards
  src/components/blog/author/hover-card.tsx
  src/components/blog/author/stacked-authors.astro
Due: prettier, eslint, astro-check

fix(search): make indexed search reliable and keyboard accessible
  CONTRIBUTING.md
  astro.config.mjs
  src/components/blog/components/examples.tsx
  src/components/blog/components/images/image-viewer.astro
  src/components/blog/components/step-slider.tsx
  src/components/blog/footer/index.astro
  src/components/blog/post-header.astro
  src/components/blog/toc/index.astro
  src/components/note/footer/index.astro
  src/components/note/note-header.astro
  src/components/search/search.astro
  src/components/ui/dialog.astro
  src/content/blog/20260301-vae/components/InterpolationViewer.tsx
  src/content/blog/20260318-ddpm/components/EpochProgress.tsx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NoteLayout.astro
  src/lib/search/controller.ts
  src/lib/search/pagefind.ts
  src/lib/search/render-results.ts
  src/styles/command.css
  tests/browser/search.spec.ts
Due: prettier, eslint, astro-check

test(search): wait for popup document readiness
  tests/browser/search.spec.ts
Due: prettier, eslint, astro-check

test(search): assert committed popup navigation
  tests/browser/search.spec.ts
Due: prettier, eslint, astro-check
